<h3>{{t 'pages.services.electric.title'}}</h3>
<ul>
    <li>{{t 'pages.services.electric.first'}}</li>
    <br/>
    <li>{{t 'pages.services.electric.second'}}</li>
    <br/>
    <li>{{t 'pages.services.electric.third'}}</li>
    <br/>
    <li>{{t 'pages.services.electric.forth'}}</li>
    <br/>
</ul>