<header class="site-header">
    <div class="top-header hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <ul class="social-links social-links-lighter">
                        <li {{action 'setRoLanguage'}}><img src="images/countries/ro.png" alt=""/></li>
                        <li {{action 'setDeLanguage'}}><img src="images/countries/de.png" alt=""/></li>
                        <li {{action 'setEnLanguage'}}><img src="images/countries/en.png" alt=""/></li>
                        <li></li>
                        <li><i class="fa fa-facebook-square" {{action 'goToFb'}}></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-header">
        <div class="container for-navi">
            <h1 class="logo">
                {{#link-to 'home'}}<img src="images/logo.png" alt="Site Logo">{{/link-to}}
            </h1>
            <!-- Main Navigation -->
            <nav class="main-navigation">
                <ul class="sf-menu">
                    <li>
                      {{#link-to 'home'}}{{t 'menu.home'}}{{/link-to}}
                    </li>
                    <li><a>{{t 'menu.services'}}</a>
                        <ul>
                            <li>{{#link-to 'pages.services.electric'}}{{t 'menu.servicesList.electric'}}{{/link-to}}</li>
                            <li>{{#link-to 'pages.services.auto'}}{{t 'menu.servicesList.auto'}}{{/link-to}}</li>
                            <li>{{#link-to 'pages.services.others'}}{{t 'menu.servicesList.other'}}{{/link-to}}</li>
                        </ul>
                    </li>
                    <li>{{#link-to 'contact'}}{{t 'menu.contact'}}{{/link-to}}</li>
                </ul>
            </nav>
            <!-- Mobile Menu Trigger Icon -->
            <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
        </div>
    </div>
</header>